body {
    margin: 50px;
    
}


.island {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.island h1 {
    font-size: 50px;
    font-family: sans-serif;
    width: 50%;

}

.faroe {
    letter-spacing: 3px;
    font-family: sans-serif;
}

.tour {
    background-color: white;
    border: solid 2px;
    margin-left: 10px;
    letter-spacing: 3px;
    font-family: sans-serif;
}

.ject {
    padding-left: 800px;
    color: grey;
}


hr {
    color: black;
}

.hello {
    font-size: 20px;
    display: flex;
    padding-left: 200px;
    margin-left: 5px;
}

.welcome {
    /* border: solid 1px black; */
    margin-top: px;
}

.first {
    background-color: white;
    display: flex;
}

.last {
    border-bottom: 2px;
}

.pro {
    display: flex;

}

.input {
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
    border: solid 1px black;
    padding: 50px;
}

.let {
    font-family: sans-serif;
    font-size: 30px;
    text-decoration: underline;
    text-align: center;
    box-sizing: border-box;
}

/* ready for an adventure of a life time */
.ready {
    font-family: sans-serif;
    font-size: 40px;
    text-align: center;
    border: solid 1px;
}

/* image */
.img {
    border: solid 1px;
}

/* travel with ease */
.travel {
    display: flex;
    text-align: center;
    width: 100%;
}

.rate {
    display: inline-block;
    width: 25%;
    height: 300px;

}

/* .authentic{
    text-align:center ;
}

.rate{
    text-align: justify;
} */

/* top rated tours */
.top {
    display: flex;
    flex-direction: row;
    border: solid 1px;
    align-items: center;
}

.b1 {
    display: inline-block;
    width: 50%;
    text-align: center;
    padding-top: 5px;
    font-size: 40px;
    font-family: sans-serif;
}

.b2 {
    display: inline-block;
    background-color: #fff;
    width: 50%;
    padding-left: 10px;
    height: 300px;
    box-sizing: border-box;
    padding-top: 100px;
    border-left: 1px solid;

}
/* .top {
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #000;
}

.b1 {
    width: 50%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 60px;
    font-family: sans-serif;
}

.top hr {
    height: 100%;
    margin: 0;
    border: 1px solid #000;
}
.b2 {
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
} */ 


/* .output{
    font-family: sans-serif;
    font-size: 60px;
    width: 490px;
}

.reason{
    background-color: white;
    font-family: sans-serif;
    width: 490px;
}
 */

/* images */
/* .images {
    background-color: #fff;
    font-family: sans-serif;
    height: 800px;
    width: 100%;
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
}

.la{
    column-gap: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; */


.foreign {
    color: grey;
    text-align: center;
    display: flex;
    font-size: 19px;
}

.nature {
    text-align: center;
}

.lorem {
    font-size: 12px;
    text-align: center;
    align-items: center;
}



.png{
    font-family: sans-serif;
    height: 1000px;
    width: 50%;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-between;
    margin:30px ;

}

.days{
    color: #fff;
    background-color: black;
    padding-left:50px;
    padding-bottom: 40px;
    display: flex;
    margin-top: 2px;
    margin-right: 187px;
    justify-content:first baseline;
}
.how{
    background-color: #fff;
    column-gap: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid;
    margin: 15px;
    height: 600px;

}




.container {
    text-align: center;
}

.a1 {
    margin: 5px;
}