nav{
    width: 400px;
    background-color: grey;
}

h2{
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    border-radius: 15px 0px;
}

a:hover{
    color: red;
    background-color: aquamarine;
}

.png{
    font-family: sans-serif;
    height: 1000px;
    width: 50%;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-between;
    position: relative;

}

.days{
    color: #fff;
    background-color: black;
    padding-left:50px;
    /* padding-bottom: 40px; */
    display: flex;
    
    /* margin-top: 0px; */
    /* margin-right: 187px; */
    justify-content:first baseline;
    padding-top: 5px;
    position: absolute;
    top: 0;
    left: 0;
    height: 70px;
}
.how{
    padding: -15px;
    margin: 0;
    background-color: #fff;
    column-gap: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid;
    margin: 15px;
    height: 600px;
    position: relative;
    /* padding-top: -5px; */
}


.how img{
   display: block;
   margin-top: -13px;
}

.how1 .days{
    z-index: 2;
    left: 0;
    
}

.foreign {
    color: grey;
    text-align: center;
    display: flex;
    font-size: 19px;
}

.nature {
    text-align: center;
    margin-top: 40px;
}

.lorem {
    font-size: 12px;
    text-align: center;
    align-items: center;
}

